html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.container {
  max-width: 700px;
  margin: 200px auto;
  padding: 20px 20px;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(73 60 51);
  border-radius: 20px;
  display: grid;
}

body {
  background-image: url(https://images.unsplash.com/photo-1560463274-61996154e7af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: repeat;
  background-position: top;
  background-size:cover;
}

@media (max-width:767px) {
  .container {
      margin: 200px 20px;
  }
  body {
      background-size: auto;
  }
  }


